<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <h2>Search for a Book: </h2>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
        <input [formControl]="bookControl" type="text"><br><br>
        <button [disabled]="searchForm.invalid">SEARCH</button>
    </form>
</div>

<div class="books_container">
    <div class="icon_plus">
        <i [hidden]="hide==0" (click)="addBook(content)" class="fa fa-plus"></i>
    </div>
    <div class="books_table">
        <div class="data">
            <div class="tr">
                <div class="th">Index</div>
                <div class="th">Author Name</div>
                <div class="th">Publish Date</div>
                <div class="th">Book Title</div>
                <div class="th">#</div>
                <div class="th">#</div>
            </div>
            <div class="tr" *ngFor="let b of book ; let i=index">
                <div class="td"><p>{{i+1}}</p></div>
                <div class="td"><p>{{b.authors}}</p></div>
                <div class="td"><p>{{b.publishedDate}}</p></div>
                <div class="td"><p>{{b.title | titlecase}}</p></div>
                <div class="td"><i (click)="editBook(content1, b, i)" class="fa fa-pencil"></i></div>
                <div class="td"><i (click)="deleteBook(b)" class="fa fa-times"></i></div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div style="text-align:right">
        <i (click)="modal.dismiss('Cross click')" class="fa fa-times"></i>
    </div>
    <div class="popup">
        <form [formGroup]="bookForm">
            <mat-form-field>
                <input matInput [formControl]="authorControl" type="text" placeholder="Author Name" />
            </mat-form-field>
            <br>
            <span [hidden]="authorControl.valid">Author name is required.</span>
            <br>
            <mat-form-field>
                <input matInput [formControl]="publishControl" type="text" placeholder="Publish Date" />
            </mat-form-field>
            <br>
            <span [hidden]="valiDate==1">Wrong Date.</span>
            <br>
            <mat-form-field>
                <input matInput [formControl]="titleControl" type="text" placeholder="Book Title" />
            </mat-form-field>
            <br>
            <span [hidden]="titleControl.valid">Book title is required.</span>
            <br>
            <div class="popup_buttons">
                <button [disabled]="bookForm.invalid" (click)="add()">ADD</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #content1 let-modal>
    <div style="text-align:right">
        <i (click)="modal.dismiss('Cross click')" class="fa fa-times"></i>
    </div>
    <div class="popup">
        <form [formGroup]="bookForm">
            <mat-form-field>
                <input matInput [formControl]="authorControl" type="text" placeholder="Author Name" />
            </mat-form-field>
            <br>
            <span [hidden]="authorControl.valid">Author name is required.</span>
            <br>
            <mat-form-field>
                <input matInput [formControl]="publishControl" type="text" placeholder="Publish Date" />
            </mat-form-field>
            <br>
            <span [hidden]="valiDate==1">Wrong Date.</span>
            <br>
            <mat-form-field>
                <input matInput [formControl]="titleControl" type="text" placeholder="Book Title" />
            </mat-form-field>
            <br>
            <span [hidden]="titleControl.valid">Book title is required.</span>
            <br>
            <div class="popup_buttons">
                <button [disabled]="bookForm.invalid" (click)="edit()">SAVE</button>
            </div>
            <input matInput [formControl]="indexControl" type="text" style="display: none;" />
        </form>
    </div>
</ng-template>